Django==5.2
psycopg2-binary==2.9.10
django-crispy-forms==2.3
crispy-bootstrap5==2025.4
django-leaflet==0.31.0
Pillow==11.1.0
django-chartjs==2.3.0
# Bibliotecas para exportação melhoradas
openpyxl==3.1.2
reportlab==4.0.8
xhtml2pdf==0.2.15 